@font-face {
    font-family: "DankMono";
    src: url("/fonts/DankMono-Regular.woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "DankMono";
    src: url("/fonts/DankMono-Bold.woff2");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "InputMono";
    src: local("Input"), url("/fonts/InputMono-Black.ttf");
    font-weight: normal;
    font-display: swap;
}

:root {
    --black: #282c34;
    --white: #abb2bf;
    --light-red: #e06c75;
    --dark-red: #be5046;
    --green: #98c379;
    --light-yellow: #e5c07b;
    --dark-yellow: #d19a66;
    --blue: #61afef;
    --magenta: #c678dd;
    --cyan: #56b6c2;
    --gutter-grey: #4b5263;
    --comment-grey: #5c6370;
    --opacity: 90%;
}

.codemirror-wrapper * {
    font-family: DankMono, InputMono, monospace !important;
    font-weight: bold;
    font-size: 16px;
}

.cm-editor {
    background-color: transparent !important;
}

.cm-content,
.cm-editor {
    background-color: transparent !important;
}

.cm-line {
    background-color: color-mix(in srgb, var(--black), #0000 var(--opacity)) !important;
    /* backdrop-filter: blur(5px) brightness(40%) grayscale(20%); */
    backdrop-filter: brightness(30%) grayscale(20%);

    display: block !important;
    width: fit-content !important;
}

.cm-panels {
    background-color: transparent !important;
}

.cm-panels {
    background-color: color-mix(in srgb, var(--black), #0000 var(--opacity)) !important;
    /* backdrop-filter: blur(5px) brightness(40%) grayscale(20%); */
    backdrop-filter: brightness(30%) grayscale(20%);
}

.cm-panels-bottom {
    border-top: none !important;
}

.cm-panel {
    background-color: transparent !important;
}

.cm-vim-panel {
    background-color: transparent !important;
    color: var(--comment-grey) !important;
}

.cm-vim-panel input {
    color: var(--white) !important;
}

.cm-gutters {
    background-color: color-mix(in srgb, var(--black), #0000 var(--opacity)) !important;
    /* backdrop-filter: blur(5px) brightness(40%) grayscale(20%); */
    backdrop-filter: brightness(30%) grayscale(20%);
}
.cm-gutterElement {
    color: var(--comment-grey) !important;
    background-color: transparent !important;
}
