@import '@fontsource/fira-mono';




* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--black);
}


#bevy_shade_canvas {
	position: fixed;
	overflow: hidden;
	width: 100% !important;
	height: 100% !important;
	outline: none !important;
	z-index: -200;
	padding: 0;
}
